@charset "UTF-8";
/* CSS Document */

a {
	text-decoration: none;
}

.error {
	color: red;
}

.button {
	padding: 10px;
	font-size: 15px;
	border: none;
}

/* Either displays login button or static message welcoming user with option to sign out */
.loginMessage {
	width: 98%;
	text-align: right;
	padding-right: 2%;
}

/* Form used to log in */
.loginForm {
	width: 98%;
	display: none;
	text-align: right;
	padding-right: 2%;
}

.header {
	width: 100%;
	margin: auto;
	text-align: center;
}

.logo {
	padding:20px;
	font-size: 35px;
	background-color: grey;
}

.links {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: grey;
	position: sticky;
	top: 0;
}

.links a {
	padding: 20px;
	font-size: 25px;
	
}

.links a:hover {
	background-color: darkcyan;
}