@charset "UTF-8";
/* CSS Document */

a {
	text-decoration: none;
}

body {
	background-color: grey;
	font-family: Ariel, sans-serif;
}


/* Buttons and submit buttons look the same */
button, input[type=submit], input[type=button] {
	
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border: none;
	background-color: black;
	color: white;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
	background-color: darkslateblue;
}

.mainContent {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: lightsteelblue;
	padding: 10px;
}

.error {
	color: red;
}

/* Either displays login button or static message welcoming user with option to sign out */
.loginMessage {
	width: 98%;
	text-align: right;
	padding-right: 2%;
}

/* Form used to log in */
.loginForm {
	width: 98%;
	display: none;
	text-align: right;
	padding-right: 2%;
}

.header {
	width: 100%;
	margin: auto;
	text-align: center;
}

.logo {
	background-image: linear-gradient(grey, black);
}

.links {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	position: sticky;
	top: 0;
}

.links a {
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	
}

.links a:hover {
	background-color: darkslateblue;
	
}

#signoutButton {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}

#welcomeMessage {
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* Profile page content */
.personalInfo {
	text-align: center;
	margin: auto;
	padding: 10px;
	
}
.profilePic {
	display: inline-block;
}
.profileBio {
	text-align: left;
	display: inline-block;
	width: 20%;
}