@charset "UTF-8";
/* CSS Document */

.sign-in {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: cadetblue;
	padding: 30px;
}

form {display: table;}
p {display: table-row;}
label {display: table-cell;}
input {display: table-cell;}